---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About" description="About lowyelling">
  <h1>About</h1>

  <section class="mt-lg">
    <p>
      Hello! I'm Lily. My handle <i>lowyelling</i> is an Englishified pun on my real name.
    </p>
    <p>
      I'm learning to become a "junior senior engineer" at <a href="https://fractalbootcamp.com/" target="_blank" rel="noopener">Fractal Tech</a>.
      See my <a href=" https://furniturecoins.substack.com/p/33-and-nyc" target="_blank" rel="noopener">Substack post</a> for more details. 
    </p>
  </section>

  <section class="mt-lg">
    <h2>Elsewhere</h2>
    <ul>
      <li><a href="https://github.com/lowyelling" target="_blank" rel="noopener">GitHub</a></li>
      <li><a href="https://twitter.com/lowyelling" target="_blank" rel="noopener">Twitter</a></li>
      <li><a href="https://lowyelling.substack.com" target="_blank" rel="noopener">Substack</a></li>
      <li><a href="https://discord.com/users/1267562643665977434" target="_blank" rel="noopener">Discord</a></li>
    </ul>
  </section>
</BaseLayout>

<style>
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: var(--spacing-sm);
  }
</style>
